
<div class="main">
    <div class="main-contaner">
      <div class="contaner">
        <div class="prodact-contaner">
          <div routerLink="/prodect-element"class="imge-contaner">
            <img src="" alt="" title="">
          </div>
          <p class="prodect-Name"></p>
          <div class="prodect-Price"></div>
          <div class="prodects-counter">
            <select class="prodect-number" name="prodect number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
          </div>
          <div class="botton-contaner">
            <button>
              <span class="ss">
                add to card
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  