<div class="main-contaner">
  <div class="in-main-contaner">
    <div class="prodects-contaner" *ngIf="product.length!=0">
      <div *ngFor="let s of product"  class="card-prodects-detalis">
          <div class="in-card-prodects-detalis">
              <div class="img-contaner">
                  <img src="{{s.imges}}" alt="{{s.imges}}" title="{{s.prodectName}}">
              </div>
              <div class="in-card-prodects-detalis-prodect">
                  <p>name of proedcts:{{s.prodectName}} </p>
                  <p>the price is:{{s.price}}</p>
                  <p> the quanitity is:{{quantitynumber}}</p>
              </div>
          </div>      
      </div>
  </div>
  <h2>the total is:{{grandtotale}}$</h2>
<div *ngIf="product.length==0">
 <h4> empity card add proedcts plesea from products page <a routerLink="">click hear</a></h4>
</div>
  </div>
<div class="user-detalies">
  <div class="login-box">
      <form [formGroup]="form" (ngSubmit)="submitForm()" >
        <div class="user-box">
          <div>
              <label for="input">full Name::</label>
          </div>
          <div>
              <input formControlName="name1"
              id="name" 
              type="text" type="text" name="" required>
              <div *ngIf="f['name1'].touched && f['name1'].invalid" class="alart">
                <div *ngIf="f['name1'].errors && f['name1'].errors['required']">Name is required.</div>
                <div *ngIf="f['name1'].errors && f['name1'].errors['minlength']">Name should be 3 character.</div>
          </div>
        </div>
        </div>
        <div class="user-box">
          <div>
              <label for="input"> address::</label>
          </div>

          <div>
              <input formControlName="address" 
          id="name" 
          type="text" type="text" name="" required>
          <div *ngIf="f['address'].touched && f['address'].invalid" class="alart">
            <div *ngIf="f['address'].errors && f['address'].errors['required']">address is required.</div>
            <div *ngIf="f['address'].errors && f['address'].errors['minlength']">address should be 3 character.</div>
          </div>
        </div>
        </div>
        <div class="user-box">
          <div>
              <label for="input"> email:</label>
          </div>
          <div>
              <input type="email" name="" required
              formControlName="email">
              <div *ngIf="f['email'].touched && f['email'].invalid" class="alart">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please enter valid email address.</div>
          </div>
        </div>
        </div>
        <div class="user-box">
          <label for="input"> creaded card number</label>
          <div>
              <input formControlName="password" type="password" name="" required>
              <div *ngIf="f['password'].touched && f['password'].invalid" class="alart">
          </div>
            <div *ngIf="f['password'].errors && f['password'].errors['required']">creaded card number is required.</div>
            <div *ngIf="f['password'].errors && f['password'].errors['minlength']">creaded card number should be 6 numbers.</div>
        </div>
        <div class="submit-linked-1">
          <input formControlName="body" routerLink="/comform" class="submit-link" type="submit"  >
        </div>
       <br>
       <div class="submit-linked-1" >
        <a class="submit-link" routerLink="">prodects page</a>
       </div>
        
      </div>
      </form>
      
    </div>
  
</div>
</div>
