
<div class="main">
  <div class="main-contaner">
    <div *ngFor="let s of prodectpost" class="contaner">
      <div class="prodact-contaner">
        <div (click)=" addprodect2(s)" routerLink="/prodect-element"class="imge-contaner">
          <img src="{{s.imges}}" alt="{{s.imges}}" title="{{s.prodectName}}">
        </div>
        <p class="prodect-Name">{{s.prodectName}}</p>
        <div class="prodect-Price">{{s.price}}</div>
        <div class="prodects-counter">
          <select #sq (change)="onSelected(sq.value)" name="prodect number">
          <option default value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
          <option value=6>6</option>
          <option value=7>7</option>
          <option value=8>8</option>
      </select>
        </div>
        <div class="botton-contaner">
          <button (click)="addprodect(s)">
            <span class="ss">
              add to card
            </span>
          </button>
        </div>
      </div>
    
    </div>
  </div>
</div>


